*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

root{
    --near-black:#101010;
}

body{
    max-width: 100vw;
    height: 100%;
}
.flex{
    display: flex;
    flex: 1 1 auto;
}
.column{
    flex-direction: column;
}
.center{
    justify-content: center;
    align-items: center;
}

.border-white{
    border: 2px solid #101010;
    border-radius: 10px;
}

.border-black{
    border: 2px solid #101010;
    border-radius: 10px;
}

#info {
    color: var(--near-black);
    position: absolute;
    top: 10px;
    width: 100%;
    text-align: center;
    z-index: 100;
    display:block;
}

#top{
    position: absolute;
    z-index: 99;
    bottom: 10px;
    left: 10px;
}